### STEP 1 - Import Libraries

In [2]:
import pandas as pd
import numpy as np

### STEP 2 - Load dataset into Pandas Data Frame

In [3]:
data = pd.read_csv("C:\\Users\\Aanchal Khanna\\Desktop\\Analytics-Master\\Data_Mining\\Datasets\\Classification\\KNN_Data2.csv")

### STEP 3 - Analyze and Expore the dataset

In [4]:
data.head()

   WEIGHT  HEIGHT  FRUIT
0       2       5  Apple
1       3       4  Apple
2       5       6   Pear
3       7       5   Pear
4       2       3   Pear

In [5]:
data.shape

(10, 3)

### STEP 4 - Encode text values into numeric values of target variable using LabelEncoder from Scikit Learn.

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
target_encode = LabelEncoder()

In [15]:
data['FRUIT_encode'] = target_encode.fit_transform(data['FRUIT'])

In [16]:
data.head()

   WEIGHT  HEIGHT  FRUIT  FRUIT_encode
0       2       5  Apple             0
1       3       4  Apple             0
2       5       6   Pear             1
3       7       5   Pear             1
4       2       3   Pear             1

### STEP 5 - Create a separate Data Frame only for predictors.

In [17]:
X_predictors = data.drop(columns = ['FRUIT', 'FRUIT_encode'])

In [18]:
X_predictors.head()

   WEIGHT  HEIGHT
0       2       5
1       3       4
2       5       6
3       7       5
4       2       3

### STEP 6 - Create a separate Data Frame only for target variable.

In [19]:
y_target = data['FRUIT_encode']

In [20]:
y_target.head()

0    0
1    0
2    1
3    1
4    1
Name: FRUIT_encode, dtype: int32

### STEP 7 - Import the KNN class from Scikit Learn

In [21]:
from sklearn.neighbors import KNeighborsClassifier

### STEP 8 - Create an instance of KNeighborsClassifier() class

In [22]:
knn_clf = KNeighborsClassifier(n_neighbors = 3)

### STEP 9 - Fit the KNN model to training set, both X_train & y_train

In [23]:
knn_clf.fit(X_predictors, y_target)

KNeighborsClassifier(n_neighbors=3)

### STEP 10 - Predict output class of new, unseen data values

In [24]:
# First create Data Frame of input values

input_values = pd.DataFrame({'WEIGHT': [4],
                            'HEIGHT': [8]})

In [25]:
# Second pass the input value Data Frame to "predict()" method

knn_clf.predict(input_values)

array([1])

### STEP 11 - Add the predicted output class to the initial test input Data Frame

In [26]:
# First assign the predicted output to variable object.

# The type of variable object = NumPy ND Array

predicted_output = knn_clf.predict(input_values)

In [28]:
# Second create a new column in test input Data Frame.

# Add the predicted output to test input Data Frame

input_values['Predicted_FRUIT'] = pd.DataFrame(predicted_output)

In [29]:
input_values

   WEIGHT  HEIGHT  Predicted_FRUIT
0       4       8                1

In [32]:
# Third map the numeric code to text label for predicted output column

# In current example: 0 = Apple; 1 = Pear

input_values['PredictedClass_FRUIT'] = input_values['Predicted_FRUIT'].map({0: 'Apple', 1: 'Pear'})

In [33]:
input_values

   WEIGHT  HEIGHT  Predicted_FRUIT PredictedClass_FRUIT
0       4       8                1                 Pear